.App {
  text-align: center;
  height: 100vh; /* Adicionado para ocupar toda a altura da viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34; /* Cor de fundo movida para o .App */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear; /* Movido o animation para sempre estar ativo */
}

@media (prefers-reduced-motion: reduce) {
  .App-logo {
    animation: none; /* Desabilita a animação se o usuário preferir redução de movimento */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
